- if @notice
  #notice= @notice
%form{ :action => '/upload', :method => 'post', :enctype => 'multipart/form-data' }
  %label{ :for => 'file' } Select a file:
  %input{ :type => 'file', :name => 'upload', :id => 'upload' }
  %input{ :type => 'submit', :name => 'submit', :value => 'Upload!' }

.divider

- if @directories or @files
  %ul#file_list
    - @directories.each do |dir|
      %li.directory
        %a{ :href => "/upload/#{dir}" }= "#{dir}/"
    - @files.each do |file|
      %li.file
        %a{ :href => "/upload/#{file}" }= file

- if @contents
  %h2= @filename
  .divider
  %code= @contents

